{% extends "layout.html" %}

{% block content %}

<style>
	#ftse-trade {
		text-align: center;
	}

  .line {
    fill: none;
    stroke: #9e2f50;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
</style>

<div class="o-grid-container">
	<div id = "ftse-ranking" class="o-grid-row">
		<div data-o-grid-colspan="4"><div class="demo-cell"> Your Ranking <br/> 2,480</div></div>
		<div data-o-grid-colspan="4"><div class="demo-cell" style="font-size:x-large"> Portfolio Value<br/> £4800 </div></div>
		<div data-o-grid-colspan="4"><div class="demo-cell">Your free cash <br/> £10000</div></div>
	</div>

	<div id = "ftse-ranking-2" class="o-grid-row">
		<div id="graph-holder">
			<svg height="200" width="900">
				<path d="M11 10h1v3c0 0.55-0.45 1-1 1H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h3v1H1v10h10V10zM6 2l2.25 2.25-3.25 3.25 1.5 1.5 3.25-3.25 2.25 2.25V2H6z"></path>
			</svg>
		</div>



	</div>

	<div id = "ftse-trade" class="o-grid-row">
		<div data-o-grid-colspan="12"><div class="demo-cell">
			<button class="o-buttons">Buy </button>
			<button class="o-buttons" aria-selected="true"> Sell </button>
		</div>
		</div>
	</div>

	{% include "partials/markets-data-search.html" %}

	<div id ="holdings-dashboard" class="o-grid-row">
    <h3>Your holdings</h3>
		<table class="o-table o-table--responsive-scroll" data-o-component="o-table">
		  <thead>
		    <tr>
          <th>Name</th>
          <th style="text-align: center !important;">Performance (over past 24 hrs)</th>
          <th data-o-table-data-type="numeric" class="o-table__cell--numeric">Amount owned</th>
          <th>Edit</th>
        </tr>
		  </thead>
      <tbody>
        {% for holding in holdings %}
          <tr>
            <td><a href="funds/{{ holding.tickerId }}?companyName={{ holding.name }}">{{ holding.name }}</a></td>
            <td style="text-align: center;">{{ holding.svgChart | safe }}</td>
            <td data-o-table-data-type="numeric" class="o-table__cell--numeric">{{ holding.amount }}</td>
            <td>Buy/sell</td>
          </tr>
        {% endfor %}
      </tbody>
		</table>
	</div>

	<div class="o-grid-row" style="padding: 20px 0px">
		<div class="demo-container ftse-teaser demo-container--standout">
			<div class="o-card o-card--standout o-card--image-" data-o-component="o-card">
				<div class="o-card__image o-card__image--">
					<img src="https://creoleindc.typepad.com/.a/6a00d8341c5e0053ef017617491cee970c-800wi?source=o-card-demo" alt="demo image"></img>
				</div>

				<div class="o-card__content">
					<div class="o-card__meta">
						<a href="#" class="o-card__tag">Technology</a>
					</div>

					<h2 class="o-card__heading"><a href="#">Google to Poke Apple in the Eye with Spoon</a></h2>


					<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
				</div>

			</div>
		</div>

		<div class="demo-container ftse-teaser demo-container--standout">
			<div class="o-card o-card--standout o-card--image-" data-o-component="o-card">
				<div class="o-card__image o-card__image--">
					<img src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
				</div>

				<div class="o-card__content">
					<div class="o-card__meta">
						<a href="#" class="o-card__tag">Financial News</a>
					</div>

					<h2 class="o-card__heading"><a href="#">Apple to be "More Jesus than Jesus"</a></h2>


					<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
				</div>

			</div>
		</div>

		<div class="demo-container ftse-teaser demo-container--standout">
			<div class="o-card o-card--standout o-card--image-" data-o-component="o-card">
				<div class="o-card__image o-card__image--">
					<img src="https://www.telegraph.co.uk/content/dam/news/2016/07/13/makes_a_speech_outside_10_Downing_Street_London_after_meeti-large_trans++LfZdHPP_Jms68Nei_IBhrlUgUS7wjdMtk9zfalez_c4.jpg?source=o-card-demo" alt="demo image"></img>
				</div>

				<div class="o-card__content">
					<div class="o-card__meta">
						<a href="#" class="o-card__tag">Economic Growth</a>
					</div>

					<h2 class="o-card__heading"><a href="#">Theresa may to personally read all citizens emails</a></h2>

					<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
				</div>

			</div>
		</div>
	</div>
</div>
<script src = "/js/draw-dummy-graph.js"></script>
{% endblock %}
