<html>
<header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
    <!-- ORIGAMI HEADER HEADER  -->
    <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-header@^6.12.0" />
    <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-header@^6.12.0"></script>

    <!-- ORIGAMI GRID -->
    <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-grid@^4.3.0" />
    <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-grid@^4.3.0"></script>


    <div class="o-header__row o-header__top">
        <div class="o-header__container">
            <div class="o-header__top-wrapper">

                <div class="o-header__top-column o-header__top-column--left">
                    <a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer">
                        <span class="o-header__top-link-label">Menu</span>
                    </a>
                    <a href="#o-header-search" class="o-header__top-link o-header__top-link--search" aria-controls="o-header-search">
                        <span class="o-header__top-link-label">Search</span>
                    </a>
                </div>

                <div class="o-header__top-column o-header__top-column--center">
                    <a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
                        <span class="o-header__visually-hidden">Financial Times</span>
                    </a>
                </div>

                <div class="o-header__top-column o-header__top-column--right">
                    <a class="o-header__top-link o-header__top-link--myft" href="/myft">
                        <span class="o-header__visually-hidden">myFT</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="o-header-search" class="o-header__row o-header__search o--if-js" role="search" data-o-header-search="">
        <div class="o-header__container">
            <form class="o-header__search-form" action="/search" role="search" aria-label="Site search">
                <label class="o-header__visually-hidden" for="o-header-search-term-js">Search the <abbr title="Financial Times">FT</abbr></label>
                <input class="o-header__search-term" id="o-header-search-term-js" name="q" type="text" placeholder="Search the FT"></input>
                <button class="o-header__search-submit" type="submit">
                    Search
                </button>
                <button class="o-header__search-close" type="button" aria-controls="o-header-search">
                    <span class="o-header__visually-hidden">Close</span>
                </button>
            </form>
        </div>
    </div>

    <div class="o-header__drawer" id="o-header-drawer" data-o-header-drawer="" data-o-header-drawer--no-js="">
        <div class="o-header__drawer-inner">

            <div class="o-header__drawer-tools">
                <a class="o-header__drawer-tools-logo" href="/">
                    <span class="o-header__visually-hidden">Financial Times</span>
                </a>
                <button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer">
                    <span class="o-header__visually-hidden">Close</span>
                </button>
            </div>

            <nav class="o-header__drawer-editions" role="navigation" aria-label="Edition switcher">
                <a class="o-header__drawer-editions-link" href="/uk?edition=uk" aria-selected="true">UK Edition</a>
                <a class="o-header__drawer-editions-link" href="/international?edition=international">International Edition</a>
            </nav>

            <div class="o-header__drawer-search">
                <form class="o-header__drawer-search-form" action="/search" role="search" aria-label="Site search">
                    <label class="o-header__visually-hidden" for="o-header-drawer-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
                    <input class="o-header__drawer-search-term" id="o-header-drawer-search-term" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search the FT"></input>
                    <button class="o-header__drawer-search-submit" type="submit">
                        <span class="o-header__visually-hidden">Search</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="o-header__subbrand" data-o-header-subbrand="">
        <a class="o-header__subbrand-logo demo-o-header__subbrand-logo">
           FT LEAGUE THING
        </a>
    </div>
</header>

<script src="//origami-build.ft.com/v2/bundles/js?modules=o-header%406.12.0%3A%2Fdemos%2Fsrc%2Fmain.js%2Co-fonts%40%5E2.0.0"></script>

<body style="background: #fff1e0;">
    <div class="o-grid-container">
        <div class="o-grid-row">
            <div data-o-grid-colspan="4"><div class="demo-cell">4</div></div>
            <div data-o-grid-colspan="4"><div class="demo-cell">4</div></div>
            <div data-o-grid-colspan="4"><div class="demo-cell">4</div></div>
        </div>
    </div>
</body>


</html>