{% extends "layout.html" %}

{% block content %}
<style>
body {
  background: #fff1e0;
  font-family: MetricWeb, sans-serif;
}

#ticker-timeseries-controls {
  float: right;
}

#ticker-timeseries text {
  font-family: MetricWeb, sans-serif;
}

.line {
  fill: none;
  stroke: #9e2f50;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
</style>

<p>Hello from {{ tickerId }} page</p>

<div class="o-buttons-group" id='ticker-timeseries-controls'>
  <button class="o-buttons" id="o-buttons--day" data-period=1>day</button>
  <button class="o-buttons" id="o-buttons--week" data-period=7>week</button>
  <button class="o-buttons" id="o-buttons--month" data-period=31 aria-selected="true">month</button>
</div>
<div id='ticker-timeseries'></div>
<div id='ticker-articles'>
  <h3>Recent stories</h3>
  <table>
    <tbody></tbody>
  </table>
</div>

<script src="https://ig.ft.com/static/g-ui/libs/d3.v4.min.js"></script>

<script>
	// lol hack day
	window.tickerId = '{{ tickerId }}';
	window.companyName = '{{ companyName }}';
</script>
<script src="/js/draw-ticker-chart.js"></script>
{% endblock %}
