{% extends "layout.html" %}

{% block content %}
<style>
body {
  background: #fff1e0;
  font-family: MetricWeb, sans-serif;
}

#ticker-timeseries text {
  font-family: MetricWeb, sans-serif;
}

.line {
  fill: none;
  stroke: #9e2f50;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
</style>

<p>Hello from {{ tickerId }} page</p>

<div id='ticker-timeseries'></div>

<script src="https://ig.ft.com/static/g-ui/libs/d3.v4.min.js"></script>
<script src="/js/draw-ticker-chart.js"></script>
{% endblock %}
