{% extends "layout.html" %}

{% block content %}
<div class="o-grid-container">
    <div id = "ftse-ranking" class="o-grid-row">
        <div data-o-grid-colspan="4"><div class="demo-cell"> Your Ranking goes here</div></div>
        <div data-o-grid-colspan="4"><div class="demo-cell"> Your Cash goes here </div></div>
        <div data-o-grid-colspan="4"><div class="demo-cell">Your Capital goes here</div></div>
    </div>

    <div id = "ftse-ranking-2" class="o-grid-row">
        <div>
            <svg height="200" width="1200">
                <path d="M11 10h1v3c0 0.55-0.45 1-1 1H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h3v1H1v10h10V10zM6 2l2.25 2.25-3.25 3.25 1.5 1.5 3.25-3.25 2.25 2.25V2H6z"></path>
            </svg>
        </div>
        <!--
        <div> A selection of origami buttons...
            <button class="o-buttons">Standard</button>
            <button class="o-buttons" aria-selected="true">Selected</button>
            <button class="o-buttons" aria-pressed="true">Pressed</button>
            <button class="o-buttons" disabled>Disabled</button>
        </div>

        -->
    </div>


    <div class="o-grid-row">
        <div class="demo-container ftse-teaser demo-container--standout">
            <div class="o-card o-card--standout o-card--image-" data-o-component="o-card">
                <div class="o-card__image o-card__image--">
                    <img src="http://creoleindc.typepad.com/.a/6a00d8341c5e0053ef017617491cee970c-800wi?source=o-card-demo" alt="demo image"></img>
                </div>

                <div class="o-card__content">
                    <div class="o-card__meta">
                        <a href="#" class="o-card__tag">Technology</a>
                    </div>

                    <h2 class="o-card__heading"><a href="#">Google to Poke Apple in the Eye with Spoon</a></h2>


                    <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
                </div>

            </div>
        </div>

        <div class="demo-container ftse-teaser demo-container--standout">
            <div class="o-card o-card--standout o-card--image-" data-o-component="o-card">
                <div class="o-card__image o-card__image--">
                    <img src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
                </div>

                <div class="o-card__content">
                    <div class="o-card__meta">
                        <a href="#" class="o-card__tag">Financial News</a>
                    </div>

                    <h2 class="o-card__heading"><a href="#">Apple to be "More Jesus than Jesus"</a></h2>


                    <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
                </div>

            </div>
        </div>

        <div class="demo-container ftse-teaser demo-container--standout">
            <div class="o-card o-card--standout o-card--image-" data-o-component="o-card">
                <div class="o-card__image o-card__image--">
                    <img src="http://www.telegraph.co.uk/content/dam/news/2016/07/13/makes_a_speech_outside_10_Downing_Street_London_after_meeti-large_trans++LfZdHPP_Jms68Nei_IBhrlUgUS7wjdMtk9zfalez_c4.jpg?source=o-card-demo" alt="demo image"></img>
                </div>

                <div class="o-card__content">
                    <div class="o-card__meta">
                        <a href="#" class="o-card__tag">Economic Growth</a>
                    </div>

                    <h2 class="o-card__heading"><a href="#">Theresa may to personally read all citizens emails</a></h2>

                    <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
                </div>

            </div>
        </div>
    </div>
</div>
<script src = "/js/draw-dummy-graph.js"></script>
{% endblock %}